In [6]:
''' Based on https://www.datacamp.com/community/tutorials/pandas-tutorial-dataframe-python'''

import pandas as pd
import numpy as np

In [7]:
col1 = pd.Series([1,2,3,4,5])
col2 = pd.Series(['2010','2011','2012','2013','2014','2015'])

In [8]:
df = pd.DataFrame([[4, 9],] * 3, columns=['A', 'B'])

In [9]:
df = pd.DataFrame([[1,2],],columns = ['numbers','Date'])

In [10]:
df

   numbers  Date
0        1     2

In [11]:
'''
Tutorial begins here:
Dateframes

Each row of these grids corresponds to measurements or values of an instance, 
while each column is a vector containing data for a specific variable
'''

'\nTutorial begins here:\nDateframes\n\nEach row of these grids corresponds to measurements or values of an instance, \nwhile each column is a vector containing data for a specific variable\n'

In [12]:
data = np.array([['','Col1','Col2'],
                ['Row1',1,2],
                ['Row2',3,4]])
    
'''Wrong
data = data[1:,1:]; print('data:', data)

index = data[1:,0]; print('index:', index)

columns = data[0,1:]; print('columns:',columns)
''' 

''' Lesson here is data, index and columns are keywords - you should not assign values to them outside of pd.DataFrame
print(pd.DataFrame(data,
                   index,
                   columns))
'''
print(pd.DataFrame(data=data[1:,1:],
                  index=data[1:,0],
                  columns=data[0,1:]))

     Col1 Col2
Row1    1    2
Row2    3    4

In [21]:
'''SELECTING DATA FROM THE DATAFRAME'''

df = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6]]),columns = ['A','B','C'])

print(df)

   A  B  C
0  1  2  3
1  4  5  6

In [30]:
# Using `iloc[]`
print(df.iloc[0][0])

# Using `loc[]`
print(df.loc[0]['A'])

# Using `at[]`
print(df.at[0,'B'])

# Using `iat[]`
print(df.iat[0,0])

1
1
2
1

In [ ]:
''' TO SELECT ENTIRE ROW AND COLUMNS'''
''' Note: indexes get printed too in this example'''

In [37]:
# Use `iloc[]` to select row `0`
print(df.iloc[0]); ''' Column names get printed also'''


print ('break')


# Use `loc[]` to select column `'A'`
print(df.loc[:,'B']); ''' Index get printed also'''

A    1
B    2
C    3
Name: 0, dtype: int32
break
0    2
1    5
Name: B, dtype: int32

' Index get printed also'

In [56]:
products = pd.DataFrame({'category': ['Cleaning', 'Cleaning', 'Entertainment', 'Entertainment', 'Tech', 'Tech'],
        'store': ['Walmart', 'Dia', 'Walmart', 'Fnac', 'Dia','Walmart'],
        'price':[11.42, 23.50, 19.99, 15.95, 55.75, 111.55],
        'testscore': [4, 3, 5, 7, 5, 8]})

print (products)

print ('\n')
print ('values: this argument allows you to specify which values of your original DataFrame you want to see in your pivot table. \n');
print ('columns: whatever you pass to this argument will become a column in your resulting table.\n')
print ('index: whatever you pass to this argument will become an index in your resulting table.\n')
pivot_products = products.pivot(index = 'category', columns='store',values='price'); #values='price')

print(pivot_products)

        category    store   price  testscore
0       Cleaning  Walmart   11.42          4
1       Cleaning      Dia   23.50          3
2  Entertainment  Walmart   19.99          5
3  Entertainment     Fnac   15.95          7
4           Tech      Dia   55.75          5
5           Tech  Walmart  111.55          8


values: this argument allows you to specify which values of your original DataFrame you want to see in your pivot table.

columns: whatever you pass to this argument will become a column in your resulting table.

index: whatever you pass to this argument will become an index in your resulting table.

store            Dia   Fnac  Walmart
category
Cleaning       23.50    NaN    11.42
Entertainment    NaN  15.95    19.99
Tech           55.75    NaN   111.55

In [58]:
''' Note: prices got reorganized into a 2D matrix with index/rows being category and the columns are store'''

' Note: prices got reorganized into a 2D matrix with index/rows being category and the columns are store'